[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]eleases/
*.apk
*.aab
*.unitypackage
*.log
*.pidb
*.suo
*.user
*.userprefs
*.csproj
*.pidb.meta
*.pdb
*.opendb
*.suo
*.userprefs
*.swp
*.tmp
*.unity
*.vs/
